<mat-tab-group class="tabs" mat-align-tabs="start">
  <mat-tab label="Change general data">
    <div class="tabs__item">
      <app-form-name [name]="profile?.name || ''" [login]="profile?.login || ''" (submitForm)="onSubmitForm($event)">
      </app-form-name>
    </div>
  </mat-tab>
  <mat-tab label="Change password">
    <div class="tabs__item">
      <app-form-password [name]="profile?.name || ''" [login]="profile?.login || ''"
        (submitForm)="onSubmitForm($event)"></app-form-password>
    </div>
  </mat-tab>
</mat-tab-group>
