<main>
  <h1 [class.active]="pageActivation">Project<br>Management<br>App</h1>
  <div class="welcome_buttons-container" [class.active]="pageActivation">
    <button mat-fab color="primary" title="log in" class="welcome_button" routerLink="/auth/login">
      <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-fab color="primary" title="sign up" class="welcome_button" routerLink="/auth/signup">
      <mat-icon>account_box</mat-icon>
    </button>
  </div>
  <div class="welcome_main-img" [class.active]="pageActivation"></div>
  <div class="welcome_arrows" [class.active]="pageActivation"></div>
  <div class="welcome_top-cube" [class.active]="pageActivation"></div>
  <div class="welcome_left-cube" [class.active]="pageActivation"></div>
  <div class="welcome_left-bottom-cube" [class.active]="pageActivation"></div>
  <div class="welcome_right-bottom-cube" [class.active]="pageActivation"></div>
  <div class="welcome_grid" [class.active]="pageActivation"></div>
  <div class="welcome_team-container" [class.active]="pageActivation">
    <p [class.active]="pageActivation">Our team</p>
    <div class="welcome_team-inner-container">
      <div class="welcome_team-img-container">
        <div class="welcome_ihar-img team-img"></div>
        <p [class.active]="pageActivation">Ihar</p>
      </div>
      <div class="welcome_team-img-container">
        <div class="welcome_tetiana-img team-img"></div>
        <p [class.active]="pageActivation">Tetiana</p>
      </div>
      <div class="welcome_team-img-container">
        <div class="welcome_ilia-img team-img"></div>
        <p [class.active]="pageActivation">Ilia</p>
      </div>
    </div>
  </div>
  <p [class.active]="pageActivation">Take your company to<br>
    the next level with a lot of<br>ideas and making great<br>progress</p>
</main>
