<main>
  <h1 [class.active]="pageActivation">Project<br>Management<br>App</h1>
  <div class="welcome_main-img" [class.active]="pageActivation"></div>
  <div class="welcome_arrows" [class.active]="pageActivation"></div>
  <div class="welcome_top-cube" [class.active]="pageActivation"></div>
  <div class="welcome_left-cube" [class.active]="pageActivation"></div>
  <div class="welcome_left-bottom-cube" [class.active]="pageActivation"></div>
  <div class="welcome_right-bottom-cube" [class.active]="pageActivation"></div>
  <div class="welcome_grid" [class.active]="pageActivation"></div>
</main>
