@import "mixins";
@import "variables";

:host {
  position: relative;
  @extend %flex-centre-pattern;
  width: 100%;
  height: 40rem;
  overflow: hidden;
  border-radius: 2rem;
  cursor: pointer;
  border: 1px solid transparent;

  .board__photo-container {
    position: absolute;
    left: -5%;
    top: 0;
    width: 40%;
    height: 100%;
    transform: skewX(-4deg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.board__content-container {
  position: absolute;
  @extend %flex-column-pattern;
  justify-content: center;
  row-gap: 2rem;
  right: -5%;
  top: 0;
  width: 70%;
  height: 100%;
  padding: 2rem 7rem 2rem 3rem;
  transform: skewX(-4deg);
  @extend %normal-text-pattern;
  font-size: 4rem;
  line-height: 4.5rem;
  text-align: center;
  color: white;
  word-wrap: break-word;
  background: $board-blue-bg;
  z-index: 100;

  p {
    opacity: 0;
    font-size: 2rem;
    line-height: 2.5rem;
    padding-right: 5rem;

    &.active {
      opacity: 1;
    }
  }
}

@media screen and (max-width: $tablet) {
  :host {
    height: 50rem;
  }
}

@media screen and (max-width: $mobile) {
  :host {
    height: 52rem;
  }

  .board__content-container {
    font-size: 3rem;
    line-height: 3.5rem;
    row-gap: 1rem;

    p {
      padding-right: 0;
    }
  }
}

.board__delete-button {
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 100;
}

.board__edit-button.hide {
  opacity: 0;
}

:host,
.board__delete-button {
  transition: box-shadow 0.3s, transform 0.3s;

  &:hover {
    @extend %hover-pattern;
  }

  &:hover .board__edit-button {
    opacity: 1;
    transition: opacity 0.5s;
  }
}

.board__edit-button,
.board__save-button {
  transition: transform 0.3s;
  position: relative;

  &:hover {
    transform: scale(1.5);
  }
}

.board-input-form {
  font-size: 3rem;
  width: 650px;
}

@media screen and (max-width: $desktop) {
  .board-input-form {
    width: 400px;
  }
}

@media screen and (max-width: $tablet) {
  .board-input-form {
    width: 310px;
  }
}

@media screen and (max-width: $mobile) {
  .board-input-form {
    width: 180px;
  }
}

.board-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.board__title {
  opacity: 0;

  &.active {
    opacity: 1;
  }
}
