<form class="form-password" [formGroup]="form" (submit)="onSubmit()">
  <app-form-title [title]="title"></app-form-title>

  <app-form-field-password label="Current password" [control]="controlOldPassword"></app-form-field-password>
  <app-form-error [control]="controlOldPassword" [errors]="formErrors[controlOldPasswordKey]"></app-form-error>

  <app-form-field-password label="New password" [control]="controlPassword"></app-form-field-password>
  <app-form-error [control]="controlPassword" [errors]="formErrors[controlPasswordKey]"></app-form-error>

  <app-form-field-password label="Confirm new password" [control]="controlPasswordConfirm">
  </app-form-field-password>
  <app-form-error [control]="controlPasswordConfirm" [errors]="formErrors[controlPasswordConfirmKey]">
  </app-form-error>

  <app-form-submit>
    <app-button text="Submit" [isDisabled]="!form.valid"></app-button>
  </app-form-submit>
</form>
