<form
  class="form-password"
  [formGroup]="form"
  (submit)="onSubmit(formDirective)"
  #formDirective="ngForm"
  *transloco="let t"
>
  <app-form-title [title]="t(title)"></app-form-title>

  <div class="form-field">
    <app-form-field-password
      [label]="t('profile.current-password')"
      [control]="controlOldPassword"
    ></app-form-field-password>
    <app-form-error
      [control]="controlOldPassword"
      [errors]="formErrors[controlOldPasswordKey]"
    ></app-form-error>
    <app-form-field-password
      [label]="t('profile.new-password')"
      [control]="controlPassword"
    ></app-form-field-password>
    <app-form-error
      [control]="controlPassword"
      [errors]="formErrors[controlPasswordKey]"
    ></app-form-error>
    <app-form-field-password
      [label]="t('profile.confirm-new-password')"
      [control]="controlPasswordConfirm"
    >
    </app-form-field-password>
    <app-form-error
      [control]="controlPasswordConfirm"
      [errors]="formErrors[controlPasswordConfirmKey]"
    >
    </app-form-error>
    <app-form-submit>
      <app-button text="submit" [isDisabled]="!form.valid"></app-button>
    </app-form-submit>
  </div>
</form>
