<div class="container">
  <app-form [form]="form">
    <app-form-title [title]="title"></app-form-title>

    <app-form-field [control]="form.controls[controlName]" [placeholder]="'Enter your name'"></app-form-field>
    <app-form-error [control]="form.controls[controlName]" [errors]="formErrors[controlName]"></app-form-error>

    <app-form-field [control]="form.controls[controlLogin]" [placeholder]="'Enter login'"></app-form-field>
    <app-form-error [control]="form.controls[controlLogin]" [errors]="formErrors[controlLogin]"></app-form-error>

    <app-form-field-password [control]="form.controls[controlPassword]"></app-form-field-password>
    <app-form-error [control]="form.controls[controlPassword]" [errors]="formErrors[controlPassword]"></app-form-error>

    <app-form-field-password [control]="form.controls[controlPasswordConfirm]" [placeholder]="'Confirm password'">
    </app-form-field-password>
    <app-form-error [control]="form.controls[controlPasswordConfirm]" [errors]="formErrors[controlPasswordConfirm]">
    </app-form-error>

    <app-form-submit>
      <app-button [isDisabled]="!form.valid"></app-button>
    </app-form-submit>
  </app-form>
</div>
