@import "scss/base/null-style";
@import "scss/base/base";

@import "scss/abstracts/variables";
@import "scss/abstracts/mixins";

@import "scss/components/components";

body {
  background-color: $main-bg;
}

.purple-bg {
  background: $auth-purple-bg;
}

.white-bg {
  background: $main-bg;
}

//autocomplete
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: $font-black;
  -webkit-box-shadow: 0 0 0px 1000px $form-bg inset;
  box-shadow: 0 0 0px 1000px $form-bg inset;
  transition: background-color 5000s ease-in-out 0s;
}

.mat-slide-toggle.slide-toggle {
  background-color: $theme-primary;
  color: #fff;
  padding: 1rem 2rem;
  height: 5rem;
  display: flex;
  align-items: center;
  border-radius: 5rem;

  @include btn-shadow-style;

  &.mat-checked .mat-slide-toggle-bar {
    background-color: $theme-accent;
  }

  &.mat-checked .mat-slide-toggle-thumb {
    background-color: $color-white-2;
  }

  .mat-slide-toggle-bar {
    background-color: $color-white-2;
  }

  .mat-slide-toggle-thumb {
    background-color: $theme-accent;
  }
}

.user-menu .mat-menu-content:not(:empty) {
  padding: 0;

  .mat-menu-item:hover:not([disabled]),
  .mat-menu-item.cdk-program-focused:not([disabled]),
  .mat-menu-item.cdk-keyboard-focused:not([disabled]),
  .mat-menu-item-highlighted:not([disabled]) {
    transition: all 0.2s;
    background-color: $theme-primary-transparent;
  }
}

@keyframes scaleUp {
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}

@keyframes showUp {
  to {
    opacity: 1;
  }
}

@keyframes goUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
