@import "scss/base/null-style";
@import "scss/base/base";

@import "scss/abstracts/variables";
@import "scss/abstracts/mixins";

@import "scss/components/components";

@import "mixins";
@import "variables";

body {
  @include scrollbar(14px);
  overflow-x: hidden;

  &::-webkit-scrollbar {
    background-color: $theme-primary-transparent;
    border-radius: 0;
  }
}

html,
body {
  background: $purple-bg;
}

//autocomplete
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: $font-black;
  -webkit-box-shadow: 0 0 0px 1000px $form-bg inset;
  box-shadow: 0 0 0px 1000px $form-bg inset;
  transition: background-color 5000s ease-in-out 0s;
}

@keyframes scaleUp {
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}

@keyframes showUp {
  to {
    opacity: 1;
  }
}

@keyframes goUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideColumn {
  to {
    opacity: 1;
    transform: scaleY(100%);
  }
}

@keyframes slideInput {
  to {
    opacity: 1;
    transform: scaleX(100%);
  }
}

@keyframes slideActions {
  to {
    opacity: 1;
    transform: translateY(100%);
  }
}

@keyframes scaleUserImg {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
