@import "variables";

* {
  font-family: "Roboto", sans-serif;
}

html,
body {
  min-height: 100vh;
  overflow: auto;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%; //1 rem = 10px

  /* 1024px  */
  @media only screen and (max-width: $tablet) {
    font-size: 50%; //1rem=8px;
  }
  /* 480px  */
  @media only screen and (max-width: $mobile) {
    font-size: 43.75%; //1rem=7px;
  }
}

body {
  background-color: $main-bg;
}

.purple-bg {
  background: $auth-purple-bg;
}

@keyframes scaleUp {
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}

@keyframes showUp {
  to {
    opacity: 1;
  }
}
