* {
  font-family: "Roboto", sans-serif;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%; //1 rem = 10px

  /* 1440px  */
  @media only screen and (max-width: 90em) {
    font-size: 50%; //1rem=8px;
  }
  /* 1120px  */
  // @media only screen and (max-width: 70em) {
  //   font-size: 50%; //1rem=8px;
  // }
  /* 800px  */
  @media only screen and (max-width: 50em) {
    font-size: 40%; //1rem=6.4px;
  }
}
