@import "variables";

* {
  font-family: "Roboto", sans-serif;
}

html,
body {
  min-height: 100vh;
  overflow: auto;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%; //1 rem = 10px

  /* 1200px  */
  @media only screen and (max-width: $desktop) {
    font-size: 55%; //1rem=9px;
  }
  /* 1024px  */
  @media only screen and (max-width: $laptop) {
    font-size: 45%; //1rem=7px;
  }
  /* 768px  */
  @media only screen and (max-width: $tablet) {
    font-size: 37.5%; //1rem=6px;
  }
  /* 480px  */
  @media only screen and (max-width: $mobile) {
    font-size: 25%; //1rem=4px;
  }
}
