<div class="board">
  <div class="board__header">
    <h2 class="board__title">
      <button mat-stroked-button class="board__btn--back" (click)="onClickBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span class="board__title__text">{{board?.title || title}}</span>
    </h2>
    <div class="board__btn--add-column">
      <app-button-board-create text="Add column" (click)="boardHandlingService.openCreateColumnDialog(id)">
      </app-button-board-create>
    </div>
  </div>
  <div
    cdkDropList
    cdkDropListOrientation="horizontal"
    class="board__content board__content--scrollable"
    (cdkDropListDropped)="drop($event)"
    cdkDropListGroup>
    <app-column class="columns-box" *ngFor="let columnItem of columns"
    [users]="users" [columns]="columns" [column]="columnItem" [boardID]="id" cdkDragLockAxis="x" cdkDrag>
    </app-column>
  </div>
</div>
