@import "variables";
@import "mixins";

:host {
  opacity: 0;
  transform: scaleY(1%);
  transform-origin: top;
  animation: slideColumn 0.6s ease-in forwards;
  @for $i from 0 through 100 {
    &:nth-of-type(#{$i}n) {
      animation-delay: #{$i * 0.2}s;
    }
  }
}

.column {
  width: 100%;
  position: relative;
  border-radius: $border-radius;
  padding: 1.5rem 1rem;
  margin-right: 2rem;
  background-color: $board-column-bg;

  &__scrollable {
    @include scrollbar(8px);

    margin-bottom: 1rem;
    max-height: calc(100vh - 350px);
    overflow-y: auto;
    overflow-x: hidden;

    @media screen and (max-width: $tablet) {
      max-height: calc(100vh - 307px);
    }

    @media screen and (max-width: $mobile) {
      max-height: calc(100vh - 362px);
    }
  }

  &__header {
    @extend %flex-normal-pattern;

    padding-bottom: 1rem;
    margin: 0 1rem 2rem;
    border-bottom: 1px solid $font-white;
    cursor: pointer;
  }

  &__title {
    width: 85%;
    font-size: 2rem;
    line-height: 2.2rem;
    color: $font-white;

    &__icon {
      margin-right: 1rem;
    }

    &--no-edit {
      display: flex;
      align-items: center;
      font-weight: 500;
      line-height: 2.2rem;
    }

    &__text {
      word-break: break-word;
    }
  }

  &__content {
    padding: 0 0.8rem;
    height: 100%;
    overflow-y: auto;
  }

  &__btn--add-task {
    width: 100%;
    color: $font-black;
    background-color: $theme-accent;
    border-radius: $border-radius;
  }
}

.edit {
  display: flex;
  justify-content: space-between;

  &__actions {
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: translateY(-50%);
    transform-origin: top;
    animation: slideInput 0.4s linear forwards;
  }

  &__btn {
    font-size: 14px;
    line-height: 15px;
    color: $theme-accent;
    background-color: transparent;
    border: none;
    transition: all 0.5s;

    &:hover {
      text-decoration: underline;
    }
  }

  &__input {
    width: 100%;
    padding: 0 1.4rem;
    font-size: 2rem;
    color: $font-white;
    background-color: $board-column-title-input;
    border-radius: $border-radius;
    border: none;
    opacity: 0;
    transform: scaleX(1%);
    transform-origin: left;
    animation: slideInput 0.4s linear forwards;
  }
}

@keyframes slideColumn {
  to {
    opacity: 1;
    transform: scaleY(100%);
  }
}

@keyframes slideInput {
  to {
    opacity: 1;
    transform: scaleX(100%);
  }
}

@keyframes slideActions {
  to {
    opacity: 1;
    transform: translateY(100%);
  }
}
