<div class="column">
  <div class="column__scrollable">
    <div class="column__header" (click)="onClickTitle()" appClickStopPropagation>
      <div class="column__title">
        <h3 class="column__title--no-edit" *ngIf="!editMode">
          <mat-icon class="column__title__icon">flare</mat-icon>
          <span class="column__title__text">{{ column?.title || '' }}</span>
        </h3>
        <div class="column__title--edit" *ngIf="editMode">
          <app-column-edit [column]="column" [boardID]="boardID" (cancelEditing)="onCancelEditing()"
            (submitEditing)="onSubmitEditing($event)"></app-column-edit>
        </div>
      </div>
      <app-button-board-delete title="Delete column"
      (click)="boardHandlingService.openDialogToDelete('column', columnTitle, boardID, columnID, '')"
      appClickStopPropagation></app-button-board-delete>
    </div>
    <div class="column__content">
      
      <div cdkDropList
      [cdkDropListData]="columnTasks"
      class="example-list"
      cdkDropListSortingDisabled
      (cdkDropListDropped)="drop($event)">

        <app-task class="column__item" *ngFor="let task of columnTasks" [task]="task"
        (click)="boardHandlingService.updateTaskModal(boardID, columnID, task)"
        [columnID]="columnID" [boardID]="boardID" cdkDrag></app-task>

      </div>

    </div>
  </div>
  <app-button-board-create text="Add task"
  (click)="boardHandlingService.openCreateTaskDialog(boardID, columnID)"></app-button-board-create>
</div>
