@import "variables";
@import "mixins";

:host {
  opacity: 1;
  transform: scaleY(100%);
  transform-origin: top;
  animation: slideColumn 0.6s ease-in forwards;
  @for $i from 0 through 10 {
    &:nth-of-type(#{$i}n) {
      animation-delay: #{$i * 0.2}s;
    }
  }
}

.column {
  width: 100%;
  position: relative;
  border-radius: $border-radius;
  padding: 1.5rem 1rem;
  margin-right: 2rem;
  background-color: $board-column-bg;

  &__scrollable {
    @include scrollbar(8px);
    max-height: calc(100vh - 38rem);
    height: 100%;
    margin-bottom: 1rem;
    overflow-y: auto;
    overflow-x: hidden;

    @media screen and (max-width: $mobile) {
      max-height: calc(100vh - 50rem);
    }
  }

  &__header {
    @extend %flex-normal-pattern;

    padding-bottom: 1rem;
    padding-left: 2rem;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: $board-main-bg-darken;
    width: 100%;
    border-bottom: 1px solid $font-white;
    cursor: pointer;
  }

  &__title {
    width: 85%;
    font-size: 2rem;
    line-height: 2.2rem;
    color: $font-white;

    &__icon {
      margin-right: 1rem;
    }

    &--no-edit {
      display: flex;
      align-items: center;
      font-weight: 500;
      line-height: 2.2rem;
    }

    &__text {
      word-break: break-word;
    }
  }

  &__content {
    padding: 0.8rem;
    overflow-y: auto;
  }

  &__item:not(:last-child) {
    display: block;
    margin-bottom: 1.7rem;
  }

  &__btn--add-task {
    width: 100%;
    color: $font-black;
    background-color: $theme-accent;
    border-radius: $border-radius;
  }

  .column__item {
    cursor: pointer;
  }
}
