<div class="profile-page">
  <div class="profile-page__bg"></div>
  <div class="container">

    <div class="profile-page__content">
      <div class="user-info">
        <div class="user-info__img">
          <mat-icon class="user-info__img__icon">
            account_circle
          </mat-icon>
        </div>

        <h2 class="user-info__name">UserName</h2>
        <div class="user-info__btn">
          <app-button text="Delete profile" color="warn"></app-button>
        </div>
      </div>

      <div class="user-data">
        <app-tabs></app-tabs>
      </div>
    </div>
  </div>
</div>
