<form class="form">
  <h2 class="form__title">Enter a board name:</h2>
  <div class="form__input-block">
    <input
      class="form__input"
      type="text"
      name="title"
      [(ngModel)]="boardTitle"
      (keyup)="notAllowStartWithSpace()"
      (keyup.enter)="createBoard()"
    />
    <button
      mat-icon-button
      class="clear-btn"
      (click)="clearInput()"
      (mousedown)="preventDefault($event)"
    >
      <mat-icon class="clear-btn__icon">clear</mat-icon>
    </button>
  </div>
  <p class="form__alert" [class]="{ hidden: boardTitleValid }">{{ alert }}</p>
  <div class="btn-block">
    <button
      mat-raised-button
      color="primary"
      class="btn"
      (click)="createBoard()"
      [disabled]="!boardTitleValid"
    >
      Accept
    </button>
    <button mat-raised-button color="warn" class="btn" mat-dialog-close>Decline</button>
  </div>
</form>
