@import "variables";
@import "mixins";

$icon-button-size: 4rem;

@include dialog-container-style;

:host {
  position: relative;
}

.form {
  &__title {
    font-size: 3.4rem;
    color: $font-black;
    text-align: center;
    margin-bottom: 3rem;
    font-weight: 300;
  }

  &__input-block {
    position: relative;

    &:focus-within .clear-btn {
      visibility: visible;
    }
  }

  &__input {
    font-size: 4rem;
    line-height: 5.2rem;
    background: none;
    outline: none;
    border: none;
    text-align: center;
    width: 100%;
    color: $theme-primary;
    border-bottom: 1px solid $board-main-bg-darken;
    padding-right: 5rem;

    &:focus {
      color: $board-main-bg-darken;
    }
  }

  .clear-btn {
    position: absolute;
    top: 50%;
    right: 0;
    text-align: center;
    visibility: hidden;
    transform: translateY(-50%);

    &__icon {
      color: $board-main-bg-darken;
      font-size: $icon-button-size;
      line-height: $icon-button-size;
      width: $icon-button-size;
      height: $icon-button-size;
    }
  }

  &__alert {
    font-size: 2rem;
    text-align: center;
    color: $board-main-bg-darken;
    margin-bottom: 4rem;
  }
}

.btn-block {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.btn {
  @include btn-shadow-style;

  padding: 0.2rem 3rem;
  border-radius: 50rem;
  font-size: 2.2rem;
  font-weight: 300;
}

.hidden {
  visibility: hidden;
}
