<div class="form">
  <input
    class="input"
    type="text"
    name="title"
    [formControl]="title"
    (keyup.enter)="createBoard()"
  />
  <p class="alert" [class]="{ hidden: title.valid }">{{ alert }}</p>
  <div class="btn-block">
    <button
      mat-raised-button
      color="primary"
      class="btn"
      (click)="createBoard()"
      [disabled]="title.invalid"
    >
      Accept
    </button>
    <button mat-raised-button color="warn" class="btn" mat-dialog-close>Decline</button>
  </div>
</div>
