<app-header></app-header>
<div class="main__container" (mousemove)="mouseMove()" (click)="mouseClick()">
  <div class="main__header-container">
    <h1>Boards</h1>
    <button class="main__search-button" (click)="searchContainerDisplay = !searchContainerDisplay"
      appMouseMoveStopPropagation appMouseClickStopPropagation>
      &dArr; Search &dArr;
    </button>
    <div [class.active]="searchContainerDisplay" class="main__search-container">
      <div class="main__inner-search-container">


        <mat-form-field appearance="fill" class="board-input-form">
          <mat-label>text for search</mat-label>
          <input matInput type="text" #searchInput>
          <button matSuffix mat-icon-button aria-label="Clear"
            (click)="searchInput.value=''" appMouseMoveStopPropagation appMouseClickStopPropagation>
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>


      </div>
    </div>
  </div>
  <div class="main__inner-container">
    <ng-container *ngIf="boards$ | async as boards">
      <app-board (click)="boardRout($event, board)" *ngFor="let board of boards" [board]="board"
        [mouseExisting]="mouseExisting"></app-board>
    </ng-container>
  </div>
</div>
