@import "variables";

:host {
  font-size: 2.3rem;
}

.board-list {
  padding-top: 10rem;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.board {
  padding: 1rem 2rem;
  background-color: $color-grey;
  max-width: 28%;
  border-radius: $border-radius;
}
