<input type="text" placeholder="Board Title" [(ngModel)]="boardTitle" />
<button mat-stroked-button (click)="addBoard()">create board</button>
<ng-container *ngIf="boards$ | async as boards">
  <ul *ngIf="boards.length; else emptyBoards" class="board-list">
    <li *ngFor="let board of boards" class="board">
      <h2>{{ board.title }}</h2>
      <input type="text" placeholder="Board Title" [(ngModel)]="newBoardTitle" />
      <button mat-stroked-button (click)="renameBoard(board.id)">Rename</button>
      <h3>id: {{ board.id }}</h3>
      <button mat-stroked-button (click)="getBoardById(board.id)">get full info</button>
      <hr />
      <input type="text" placeholder="columns Title" [(ngModel)]="columnTitle" />
      <button mat-stroked-button (click)="addColumn(board.id, {title: columnTitle, order: findLastOrder(board.columns)})">
        create column
      </button>
      <p>Columns</p>

      <ng-container *ngIf="board.columns">
        <p>{{ board.columns.length }}</p>
        <ul>
          <li *ngFor="let column of board.columns">
            {{ column.title }}
            <button mat-button color="warn" (click)="deleteColumn(board.id, column.id)">
              delete
            </button>
            <button mat-button color="accent" (click)="renameColumn(board.id, {id:column.id, title: columnTitle, order: column.order})">rename</button>
          </li>
        </ul>
      </ng-container>
      <button mat-stroked-button (click)="deleteBoard(board.id)">delete this board</button>
    </li>
  </ul>
</ng-container>

<ng-template #emptyBoards> BOARDS ARE EMPTY </ng-template>
