@import "variables";

.board-page {
  padding: 1rem 3% 0;
  min-height: calc(100vh - 5.7rem);

  @media screen and (max-width: $mobile) {
    height: calc(100vh - 16.3rem);
    padding-bottom: 8.3rem;
  }
}
