@import "variables";

.board-page {
  padding: 10px 3%;
  height: calc(100vh - 210px);

  @media screen and (max-width: $tablet) {
    height: calc(100vh - 186px);
  }

  @media screen and (max-width: $mobile) {
    height: calc(100vh - 243px);
  }
}
