@import "variables";
@import "mixins";

:host {
  margin-left: auto;
}

.btn {
  position: relative;
  width: 5rem;
  height: 5rem;
  font-size: 5rem;
  display: flex;
  align-items: center;
  @include btn-shadow-style;

  & * {
    font-size: 5rem;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
  }
}
