@mixin background-image-block($url, $per, $rad) {
  background-image: url($url);
  background-size: $per;
  border-radius: $rad;
  background-repeat: no-repeat;
  background-position: center;
}

%flex-column-pattern {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

%flex-normal-pattern {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
