@import "variables";

@mixin background-image-block($url, $per, $rad) {
  background-image: url($url);
  background-size: $per;
  border-radius: $rad;
  background-repeat: no-repeat;
  background-position: center;
}

%big-text-pattern {
  font-weight: 700;
  color: $font-white;
  font-family: 'Poppins', sans-serif;
}

%normal-text-pattern {
  font-weight: 500;
  color: $font-white;
  font-family: 'Poppins', sans-serif;
}

%flex-column-pattern {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

%flex-normal-pattern {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%flex-centre-pattern {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin btn-shadow-style {
  box-shadow: 1px 1px 6px 1px $shadow-color;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 4px 4px 6px 2px $shadow-color;
  }

  &:active {
    transform: translateY(0);
    box-shadow: 1px 1px 6px 1px $shadow-color;
  }
}

@mixin scrollbar($width: 100%, $height: 100%) {
  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar {
    width: $width;
    height: $height;
    background-color: $board-column-scrollbar;
    border-radius: $border-radius;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $board-column-scrollbar-thumb;
    border-radius: $border-radius;
  }
}

@mixin dialog-container-style {
  ::ng-deep {
    .mat-dialog-container {
      border-radius: $border-radius;
      background-image: $dialog-confirmation-bg;
      background-size: 200%;
      background-position: center center;
      transition: all 0.5s;
      opacity: 0.97;

      &:hover {
        background-size: 105%;
      }
    }
  }
}
