@import "variables";

@mixin background-image-block($url, $per, $rad) {
  background-image: url($url);
  background-size: $per;
  border-radius: $rad;
  background-repeat: no-repeat;
  background-position: center;
}

%big-text-pattern {
  font-weight: 700;
  color: $font-white;
  font-family: "Poppins", sans-serif;
}

%normal-text-pattern {
  font-weight: 500;
  color: $font-white;
  font-family: "Poppins", sans-serif;
}

%flex-column-pattern {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

%flex-normal-pattern {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%flex-centre-pattern {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin btn-shadow-style {
  box-shadow: 1px 1px 6px 1px $shadow-color;
  transition: all 0.3s ease-in-out;

  &:hover:not(&:disabled) {
    transform: translateY(-2px);
    box-shadow: 4px 4px 6px 2px $shadow-color;
  }

  &:active:not(&:disabled) {
    transform: translateY(0);
    box-shadow: 1px 1px 6px 1px $shadow-color;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

@mixin scrollbar(
  $width: 100%,
  $height: 100%,
  $scrollbar-radius: $border-radius,
  $scrollbar-color: $board-column-scrollbar,
  $thumb-color: $board-column-scrollbar-thumb
) {
  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar {
    width: $width;
    height: $height;
    background-color: $scrollbar-color;
    border-radius: $scrollbar-radius;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $thumb-color;
    border-radius: $border-radius;
  }
}

@mixin dialog-container-style {
  ::ng-deep {
    .mat-dialog-container {
      border-radius: $border-radius;
      background-image: $dialog-confirmation-bg;
      background-size: 200%;
      background-position: center;
      transition: all 0.5s;
      opacity: 0.97;

      &:hover {
        background-size: 105%;
      }
    }
  }
}

%hover-pattern {
  border: solid 1px $theme-accent;
  color: $theme-accent;
  box-shadow: 0 0.8rem 0.8rem -0.4rem $theme-accent-transparent;
  transform: translateY(-0.6rem);
}

%hover-grey-pattern {
  border: solid 1px $color-grey-dark;
  color: $color-grey-dark;
  box-shadow: 0 0.8rem 0.8rem -0.4rem $color-grey-dark;
  transform: translateY(-0.6rem);
}

@mixin animateScaleUp() {
  transform: scaleY(0.8);
  opacity: 0.1;
  animation: scaleUp 0.6s forwards ease-in;
}
