//dimensions
$border-radius: 20px;

//colors
$main-bg: #fbfbfd;
$form-bg: #fff;
$error-bg: #f44336;

//shadows & filters
$box-shadow: 2px 4px 13px 0 rgba(0, 0, 0, 0.1);

//breakpoints
$mobile: 48em;
$tablet: 76.8em;
$laptop: 102.4em;
$desktop: 120em;
