@import "variables";

.form {
  max-width: 50rem;
  padding: 1em;
  margin: 0 auto;
  font-size: 4rem;
  background-color: $form-bg;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  transform: scaleY(0.8);
  opacity: 0.1;
  animation: showForm 0.6s forwards ease-in;

  &__fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    animation: showFields 0.4s 0.6s forwards ease-in;
  }
}

@keyframes showForm {
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}

@keyframes showFields {
  to {
    opacity: 1;
  }
}
