.center-block {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
}

.not-found-img {
  width: 70rem;
  height: 50rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.btn {
  color: #bdcbd4;
  font-size: 3rem;
  font-weight: 300;
  border-radius: 2rem;
  border: 2px solid #bdcbd4;
  padding: 1rem 2rem;
  background: none;
  transition: all 0.4s;

  &:hover {
    background-color: #bdcbd4;
    color: #747691;
  }
}
